.form-background {
  background-image: url('https://www.shutterstock.com/image-photo/businesswomans-hand-filing-online-registration-600nw-2009313029.jpg'); /* or your own image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  /* filter: brightness(0.9); */
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}
